
/* Selector Specificity: (0, 1, 1) */
section[data-element="añadirJugadores"]{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.5em;
    padding: 1em;
    width: 50%;
    margin: 1em auto;
}

/* Selector Specificity: (0, 1, 1) */
section[data-element='reglas'] {
    display:flex;
    flex-direction: column;
    border: solid 0.5em;
    padding: 1em;
    width: 50%;
    margin: 1em auto;

    text-align: left;
    
}
 
/* Selector Specificity: (0, 0, 1) */
ul {
    color: black;
}

/* Selector Specificity: (0, 1, 1) */
section[data-element="seleccionarCSV"] {
    text-align: center;
    border: solid 0.5em;
    padding: 1em;
    width: 50%;
    margin: 1em auto;
}

/* Selector Specificity: (0, 1, 1), (0, 1, 1) */
section[data-element='listaJugadores'], section[data-element='banquillo'] {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    position: relative;
}

/* Selector Specificity: (0, 1, 2) */
section[data-element='listaJugadores'] > h2 {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    margin: 0; 
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    background-color: #f9f9f9;  /*hereda el color de fondo #fff de body*/
}

/* Estilos para los elementos article */
/* Selector Specificity: (0, 1, 2) */
section[data-element='listaJugadores'] > article {
    width: calc(25% - 1.25em); /* Ancho de cada artículo */
    margin-top: 1.25em; 
    margin-right: 1.25em; 
    border: 0.0625em solid #ccc; 
    padding: 0.625em;
    box-sizing: border-box;
}

/* Selector Specificity: (0, 1, 1), (0, 1, 1) */
section[data-element='listaJugadores'],  section[data-element='banquillo']{
    border-radius: 0.2em;
}

/* Selector Specificity: (0, 1, 2), (0, 1, 2) */
section[data-element='listaJugadores'] h2, section[data-element='banquillo'] h2{
    background-color: #2b2b2b; /*hereda el color de fondo #fff de body*/
    color: white; 

    padding: 0.5em;
    border-radius: 0.2em;
}

/* Selector Specificity: (0, 0, 1), (0, 0, 1) */
input, select {
    margin-bottom: 1em;
}

/* Selector Specificity: (0, 1, 2) */
section[data-element='banquillo'] > article {
    width: calc(25% - 1.25em); /* Ancho de cada artículo */
    margin-right: 1.25em; 
    border: 0.0625em solid #ccc;
    padding: 0.625em;
    box-sizing: border-box;
}

/* Estilos para el título h2 */
/* Selector Specificity: (0, 1, 2) */
section[data-element='banquillo'] > h2 {
    top: 0; 
    left: 0; 
    width: 100%; 
    margin-top: 6em;
    padding: 0.625em;
    border: 0.0625em solid #ccc;
}


/* FORMACION EN EL CAMPO */
/* Estilos para el grid */
/* Selector Specificity: (0, 1, 0) */
[data-element="formacion"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625em;
    width: 100%;
    max-width: 50em; 
    margin: 0 auto;
    background-color: white; /*hereda el color de fondo #fff de body*/
}

/* Selector Specificity: (0, 1, 1) */
[data-element="formacion"] > h2 {
    grid-row: 1;
    grid-column: 2;
}
  
/* posiciones en el campo */
/* Selector Specificity: (0, 1, 0) */
[data-element="delanteroIzq"] {
    grid-row: 2;
    grid-column: 1;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="delanteroCentral"] {
    grid-row: 2;
    grid-column: 2;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="delanteroDerecha"] {
    grid-row: 2;
    grid-column: 3;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="centralIzq"] {
    grid-row: 3;
    grid-column: 1;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="centralDerecha"] {
    grid-row: 3;
    grid-column: 3;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="defensaIzq"] {
    grid-row: 4;
    grid-column: 1;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="defensaCentral"] {
    grid-row: 4;
    grid-column: 2;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="defensaDerecho"] {
    grid-row: 4;
    grid-column: 3;
}

/* Selector Specificity: (0, 1, 0) */
[data-element="portero"] {
    grid-row: 5;
    grid-column: 2;
}

/* Selector Specificity: (0, 1, 1) */
[data-element='formacion'] > article {
    padding: 0.9375em;
    border: 0.0625em solid #ccc;
    border-radius: 0.3125em;
}

/* Selector Specificity: (0, 1, 0) */
[data-element='fullScreen'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid;
    border-radius:2em;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
}

/* Selector Specificity: (0, 0, 1) */
input {
    margin-top: 1em;
    width: 50%;
    height: 4vh;
}
